body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #c5c5c5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container{
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #caffbf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-container{
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #90f8ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: xx-large;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.arrow {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    padding: 0 20px;
}

.movie {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.movie img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.movie h2 {
    margin: 10px 0 5px;
    font-size: 1rem;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-unbook {
    background-color: #ff4c4c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-unbook:hover {
    background-color: #cc0000;
}

.form-container form, .login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container label, .login-container label {
    margin: 5px 0;
}

.form-container input, .login-container input {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    max-width: 300px;
}

.user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

#username-display {
    margin-right: 20px;
}

.btn-logout {
    background-color: #ff4c4c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Specific styles for different pages */
body.login-page {
    background: url('https://img.freepik.com/premium-photo/abstract-illustration-pattern-clouds-sky-design-dreamy_955379-13562.jpg') repeat;
}

body.form-page {
    background: url('https://img.freepik.com/premium-vector/dollar-money-repeat-pattern-background_603333-186.jpg') repeat;
}

body.movies-page {
    background: url('https://www.toptal.com/designers/subtlepatterns/uploads/double-bubble-dark.png') repeat;
}
